{% extends 'base.html' %}





{% block content %}

<div class="border-2 border-gray-300 rounded-sm shadow-sm mx-2 mt-8  mb-4 lg:w-[75%] lg:mx-auto">

<!-- search -->
<p class="text-lg mx-2 pt-4 text-center">Search your torrent list</p>
<form class="border-2 border-gray-300 rounded-[5px] shadow-md mx-2 my-2 py-1 px-2 text-sm grid" action="/">
<label class="pt-1">Search for current torrent</label>
<div class="pt-1">
  <input type="text" name="" id="" placeholder="Enter a name (not implented yet)" class="py-1 px-1 mb-1 border-[1px] rounded-[4px] border-gray-400 w-[80%] lg:w-[90%] md:w-[90%] ">
  <button class="text-white bg-blue-500 w-14 h-6 rounded-[3px] ml-2 px-1 hover:text-xs md:ml-6 lg:ml-4">Search</button>
</div>
</form>
  

  <p class="text-lg mx-2 pt-4 text-center">Upload Torrent</p>
    <form method="POST" enctype="multipart/form-data" action="/upload" id="#upload" class="border-2 border-gray-300 rounded-[5px] shadow-md mx-2 my-2 py-1 px-2 text-sm grid">
        <label class="pb-1">Upload torrent File</label>
        <input type="file" name="file" id="" class="pb-1">
        <p class="text-center border-b-[1px]">OR</p>
        <label class="pt-1">Paste link to torrent file</label>
        <input type="url" name="url" id="" placeholder="Adding by links is unstable for now"  class="py-1 px-1 mb-1 border-[1px] rounded-[4px] border-gray-400">
        <div class="text-center my-2">
            <button type="submit" class="text-white bg-blue-500 w-12 h-6 rounded-[3px] hover:text-xs">Send</button>
        </div>
    </form>
</div>



    <div
      class="border-2 border-gray-300 rounded-sm shadow-sm mx-2 my-12 lg:w-[75%] lg:mx-auto">
      <p class="text-lg text-center pt-4">Torrent Files</p>
 

      <div id="normal" class="mx-2 my-4  px-2 py-1 rounded-[5px] shadow-sm hover:shadow-md lg:mx-2">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg border-2 border-gray-300 rounded-[5px] py-2 px-1">
          <table class="w-full text-sm text-center text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-300">
              <tr>
                <th scope="col" class="py-3 px-6">Name</th>
                <th scope="col" class="py-3 px-6">ID</th>
                <th scope="col" class="py-3 px-6">Percentage downloaded</th>
                <th scope="col" class="py-3 px-6">Total size</th>
                <th scope="col" class="py-3 px-6">Up speed</th>
                <th scope="col" class="py-3 px-6">down speed</th>
                <th scope="col" class="py-3 px-6">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b">
                <td class="py-4 px-6">File 1</td>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap"># 1</th>
                <td class="py-4 px-6">100%</td>
                <td class="py-4 px-6">20gb</td>
                <td class="py-4 px-6">2gbps</td>
                <td class="py-4 px-6">2gbps</td>
                <td class="py-4 px-6">Done</td>
              </tr>
              <tr class="bg-gray-50 border-b">
                <td class="py-4 px-6">File 2</td>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap"># 2</th>
                <td class="py-4 px-6">80%</td>
                <td class="py-4 px-6">20gb</td>
                <td class="py-4 px-6">2gbps</td>
                <td class="py-4 px-6">2gbps</td>
                <td class="py-4 px-6">Done</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock content %}
