{% extends 'base.html' %}
{% block title %}Search for '{{ query }}'{% endblock title %}


{% block content %}


    <div class="border-2 border-gray-300 my-24 mx-16 px-4 py-4 rounded-sm shadow-md">
        <p class="px-2">Result for <span class="font-black">"{{ query }}"</span> :</p>
        <div class="border-2 border-gray-300 rounded-[3px] shadow-md px-2 py-2">
            <p class="font-mono text-sm pt-2 border-b border-gray-300">{{ result }}</p>
        </div>
    </div>

    <!-- feature on the way -->
    <!-- <div class="border-2 border-gray-300 my-24 mx-16 px-2 py-2 rounded-sm shadow-md">
        <p class="px-2">Result for <span class="font-black">"{{ query }}"</span> :</p>
        <div class="border-2 border-gray-100 rounded-[3px] shadow-md px-2 py-2">
            {# for result in results #}
            <p class="font-mono text-sm pt-2 border-b border-gray-300">{{ result }}</p>
            {# endfor #}
        </div>
    </div> -->

{% endblock %}
